.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#github, #linkedIn {
    font-size: 30px;
    margin-left: 15px;
    transition: 1s
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
